*{
	font-family: Oswald;
	box-sizing: border-box;
}
.titlething{
	display: block;
	width: 100%;
	height: 100px;
	top: 0px;
	padding-top: 0px;
	padding-left: 30px;
	padding-bottom: 0px;
	background-color: lightgray;
	position: absolute;
	background-color: lightgray;
	margin-top: 0px;
}
body{
	margin: 0;
}
.demo{
	width:100%; 
	height: 46px;
}
.mySlides img{
	width:100%; 
	height:280px;
}
.sidebar{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #54B948;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidebar a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
}
.sidebar a:hover{
	color: #008000;
}
.sidebar #closebtn{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.edge{
	height: 50px;
	width: 50px;
}
#openbtn{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100px;
	width: 100px;
	font-size: 60px;
	cursor: pointer;
	background-color: #54B948;
	color: white;
	border: none;
	display: block;
}
#openbtn:hover{
	background-color: #008000;
	transition: 0.3s;
}
.pic{
	display: block;
	position: absolute;
	top: 125px;
	left: 50px;
	z-index: -3;
}
.text{
	display:block;
	position: absolute;
	left: 860px;
	margin-right: 50px;
	top: 125px;
	z-index:-1;
}
.text2{
	display:block;
	position: absolute;
	left: 50px;
	right: 50px;
	top: 550px;
	z-index: -3;
}
.footer{
	position: absolute;
	display: block;
	top: 800px;
	width: 100%;
	height: 70px;
	background-color: #54B948;
}
.pisay{
	width: 700px;
	height: 400px;
}
#left{
	margin-left: 30px;
}
#right{
	margin-left: 100px;
}
.mode{
	position: absolute;
	bottom: 10px;
}
.footer #andoy {
	color: white;
	font-size: 20px;
}
img{
	vertical-align: middle;
}
.container{
	width: 800px;
	position: relative;
	top: 150px;
	left: 50px;
	z-index: -3;
}
.mySlides{
	display: none;
}
.cursor{
	cursor: pointer;
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;				
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}
.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
	background-color: rgba(0, 0, 0, 0.8);
}
.numbertext{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.caption-container{
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
.column{
	float: left;
	width: 20%;
}
.demo{
	opacity: 0.6;
}
.active, .demo:hover{
	opacity: 1;
}

#ifyou{
	padding-top: 10px;
	padding-left: 5px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=date]:focus {
	background-color: lightgreen;
}                          
